@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');




.body{
    margin: 10px;
}

.about, .HIW, .WYSC {
     display: flex;
     align-items: center;
     height: 80vh;
     border-bottom: 1px solid black;
}

.aboutHeader, .HIWHeader, .WYSCHeader {
     color: #C7333C;
     margin-left: 10em;
     white-space: nowrap;
     width: 100px;
}

.aboutContent, .HIWContent, .WYSCContent {
     font-weight: 400;
     font-size: 17px;
     margin-left: 20em;
     margin-right: 10em;
}