.icons{
color: white;
font-size: 40px;


}

.footer { 
    text-align: center;
    color:rgb(255, 255, 255);
    background-color: #07020d;
    border-top: 1px solid black;
    background-size: cover;
    background-position-x: center;
    position: sticky;
    font-size: 1rem;
    height: 28vh;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(320px, 1fr));
    grid-gap: 2rem;
    margin: 0 auto;


}


.call {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.phoneLink:link{
    color: white;
}

.paragraph {
    margin: 0px;
    margin-left: 25px;
}



.imgDIV{
    
}

.msDPT{
    width: 300px;
    height: 140px;
}

.twitter{
    position: absolute;
    left: 70em;
    bottom: 4.6em;
}

@media screen and (min-width: 320px) and (max-width: 800px){
    .icons{
        color: white;
        font-size: 33px;
        }
        
    .footer { 
        text-align: center;
        color:rgb(255, 255, 255);
        background-color: #07020d;
        border-top: 1px solid black;
        background-size: cover;
        background-position-x: center;
        position: sticky;
        height: 40vh;
        padding-top: 1rem;
        display: grid;
        grid-template-columns: repeat(1, minmax(120px, 2fr));
        grid-gap: 1rem;
        margin: 0 auto;

    }
        
        
    .call {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        color: white;
    }
    .call :visited{
        color: rgb(230, 0, 0);
    }
    
    .paragraph {
        margin: 0px;
    }
    
    
    .msDPT{
        width: 150px;
        height: 60px;
    }
}