.landing {
    height: 90vh;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../public/yalobusha.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    color: white;
}

.text {
    margin: 4px;
    margin-bottom: 15px;
}

.buttons {
    flex-direction: row;
    justify-content: space-between;
    width: inherit;
    margin-top: 30px;
}

.button {
    padding: 0.5em;
}

.buttonSize {
    width: 7em;
    height: 3em;
    background-color: white;
}