.nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background-image: url(../public/crimestoppers.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.links {
    display: flex;
    align-items: center;
}

.header {
    justify-self: flex-start;
    margin-left: 0.3em;
    text-decoration: none;
}

.link {
    margin-right: 0.8em;
    text-decoration: none;
}