.nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
}

.links {
    display: flex;
    align-items: center;
}

.header {
    justify-self: flex-start;
    margin-left: 0.3em;
    text-decoration: none;
    color: black;
}

.link {
    margin-right: 0.8em;
    text-decoration: none;
    color: black;
}

.logo {
    width: 70px;
    height: 70px;
}