.nav {
    background-color: rgb(63, 62, 62) !important;
}

.links {
    display: flex;
    align-items: center;
}

.header {
    justify-self: flex-start;
    margin-left: 0.3em;
    color: black;
    font-size: 24px;
    text-decoration: none;
}

.link {
    margin-left: 0.7em;
    margin-right: 0.7em;
    color: black;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    color: blue;
    border-bottom: 1px blue solid;
}

.logo {
    width: 70px;
    height: 70px;
}

@media only screen and (max-width: 600px) {
    .nav {
        display: flex;
        justify-content: space-between;
        position: sticky;
        padding-right: 1em;
        background-color: rgb(63, 62, 62) !important;
    }
    
    .links {
        display: flex;
        align-items: center;
    }
    
    .header {
        justify-self: flex-start;
        margin-right: 0.3em;
        color: black;
        font-size: 14px;
        text-decoration: none;

    }
    
    .link {
        margin-left: .4em;
        
        color: black;
        font-size: 16px;
        cursor: pointer;
        text-decoration: none;
    }
    
    .link:hover {
        color: blue;
        border-bottom: 1px blue solid;
    }
    
    .logo {
        width: 40px;
        height: 40px;
    }

    .collapsed {
        border: 1px solid black !important;
        position: absolute;
        right: 1%;
        background-color: white;
        margin-top: 5px;
    }
}