.nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    padding-right: 1em;
    background-color: rgb(63, 62, 62) !important;
}

.links {
    display: flex;
    align-items: center;
}

.header {
    justify-self: flex-start;
    margin-left: 0.3em;
    color: black;
    font-size: 24px;
    text-decoration: none;
}

.link {
    margin-left: 0.7em;
    margin-right: 0.7em;
    color: black;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    color: blue;
    border-bottom: 1px blue solid;
}

.logo {
    width: 70px;
    height: 70px;
}

@media only screen and (max-width: 768px) {
    .link {
        font-size: 10px;
    }
}