@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    margin: 0;
    background-color: #f1e9db;
}

.content{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

.icons{
    font-size: 25px;
}