@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    margin: 0;
    background-image: url(https://img.freepik.com/free-vector/elegant-white-background-with-shiny-lines_1017-17580.jpg?size=626&ext=jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.content{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

.icons{
    font-size: 25px;
}