.body {
    height: 100vh;
}

.container{
    border-radius: 1px;
    margin-right: 5rem;
    padding: 50px;
    text-align: center;
    margin: auto;
    width: 70%;
    height: 80vh;
    margin-top: 2rem;
    background-color: rgb(236, 236, 236);
    box-shadow: 0 0px 8px 4px rgb(206, 206, 206);
    transition: 0.3s;
}

.cardForm{
    height: 100vh;
    background-color: rgb(255, 255, 255);
}


.labels{
    padding: 13px;
}

.DescriptionInput{
    width:30%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    overflow-y: auto;
}

.DescriptionLabel{
    padding: 13px;
    position: relative;
    bottom: 130px;
}

.button{
    background-color:#161616;
	border-radius: 40px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:11px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
    margin-top: 10px;
}

.button:hover{
    background-color:#252729;
}
